.add-new-word {
  width: 1200px !important;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

.word-input input {
  width: 24rem;
  padding: 1rem 2rem;
  margin-bottom: 1rem;
}

.word-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.word-input input:focus {
  outline: none;
}

.word-list {
  background-color: white;
  width: 24rem;
  padding: 1rem 2rem;
  max-height: 500px;
  overflow-y: auto;
}

.word-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.delete-word {
  cursor: pointer;
}
