.new-word {
  width: 1200px !important;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 6.5rem;
  margin-top: 1rem;
  margin-bottom: 4rem;
  background-color: white;
}

h3 {
  font-size: 2rem;
  background-color: white;
  padding: 0.3rem 2rem;
}

button {
  padding: 4rem q;
}

.play-button {
  margin-bottom: 3rem;
}

.play-button button {
  background: none;
  outline: none;
  border: none;
}

.play-button .icon-play {
  width: 4rem;
  height: 4rem;
  cursor: pointer;
  background: white;
  border-radius: 50%;
}

.new-word-btn {
  padding: 1rem 3rem;
  cursor: pointer;
  align-items: center;
  background-image: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #ffffff;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
}

.meaning {
  cursor: pointer;
}

.hidden {
  background-color: black;
}

.show {
  background-color: white;
}
